<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div class="container">
        <div class="navbox" id="trigger-box">
            <div class="square-box" onclick="toggleNav()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Get Started</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">GitHub</a></li>
            </ul>
        </div>
    </div>
    <script src="app/static/script.js"></script>
    <div class="navbar">
        <div class="logo">
            <h1>StockSentry</h1>
        </div>
    </div>
    <div class="user-menu">
        <img src="app/static/images/user-icon.png" alt="User Icon" id="user-icon">
        <div class="user-dropdown" id="user-dropdown">
            <ul>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <main>
        <p>This is the homepage content.</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
        <p>:D</p>
    </main>

    <footer>
        <p>&copy; 2024 StockSentry</p>
    </footer>
</body>
</html>
