<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script type="text/javascript" src="../static/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>StockSentry</title>
    
</head>
<body id='contentToLoad'>
    <div id="contentToLoad">
        <div class="container">
            <div class="navbox" id="trigger-box">
                <div class="square-box" onclick="toggleNav()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="nav-menu" id="nav-menu">
                <ul>
                    <li><a class="nav-items" href="homepage.html">Home</a></li>
                    <li><a href="stocks/getstarted.html">Get Started</a></li>
                    <li><a href="stocks/choosestocks.html">Choose Stocks</a></li>
                    <li><a href="stocks/mystocks.html">My Stocks</a></li>
                    <li><a href="about/about.html">About</a></li>
                    <li><a href="https://github.com/jmersinger/Stock-Sentry" target="blank">GitHub       </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar" id="navigation-bar">
            <div class="logo">
                <h1><a href="homepage.html">StockSentry</a></h1>
            </div>
        </div>
        <div class="user-menu">
            <img src="https://github.com/jmersinger/Stock-Sentry/blob/main/app/static/images/user-icon.png?raw=true" alt="user-icon" id="userIcon">
        </div>
        <div class="user-dropdown" id="user-dropdown">
            <ul>
                <li><a href="users/login.html">Log In</a></li>
                <li><a href="users/signup.html">Sign Up</a></li>
                <li><a href="stocks/getstarted.html">Try as a guest</a></li>
            </ul>
        </div>
        <main>
            <p>This is the homepage content.</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
            <p>:D</p>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 StockSentry</p>
    </footer>
</body>
</html>
